// Here you can add other styles
.table-ant thead > tr > th {
  background-color: #acb4bc
}

.input-content {
  font-weight: bold;
}

.expand-table table td:hover {
  white-space: normal;
  overflow-x: auto;
}



